<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div align="center" style="text-align: center">
    <h2>Create</h2>
    <a th:href="@{/thing/s}">to list view</a>
    <br>
    <form method="post" th:object="${thing}">
        <label for="name">Thing's name</label>
        <br>
        <input th:field="*{name}" type="text" id="name">
        <br>
        <label for="description">Thing's description</label>
        <br>
        <input th:field="*{description}" id="description">
        <br>
        <input type="submit" value="Create">
</form>
</div>
</body>
</html>